body{
    
    background-color:rgb(167, 207, 230) ;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}


ul {
    background-color:rgb(46, 59, 103) ;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
  }

  a{
    display: block;
    padding: 1%;
  }

  a:hover{
    background-color: rgb(241, 112, 110);
    color: white;
  }

  li{
    float:left ;
  }

  li a{
    display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  }

#divSuperior{
    display: flex;
    color: rgb(36, 49, 94);
    background-color: rgb(247, 233, 160);
    opacity: 0.8s;
    padding: 1% 2%;
    margin: 5% 5%;
    height: fit-content;
    justify-content: space-between ;
    font-size: 1.25em;

}

#divSuperior fieldset{
    width: 40%;
}

.imgSuperior{
    border: solid 2px rgb(11, 19, 43);
    margin: 5% 5%;
    width: 40%;
    margin-left: auto;
    
}

.imgPersonagem{
    
    width: 40%;
    margin-left: auto;
}

.titulo{
    color: rgb(36, 49, 94);
    text-shadow: 2px 2px 1px rgb(89, 104, 154);
    font-family: Bebas Neue, sans-serif;
    font-size: 2.5em;
    text-indent: 1em;
}

#buttons{
    margin: 1% 5%;
}

.debaixo{
    color: rgb(36, 49, 94);
    background-color: rgb(241, 112, 110);
    opacity: 0.8s;
    width: auto;
    display: block;
    font-size:0.9em;
    padding: 10px 20px;
    text-align: center;
    font-size: 1em;
}

fieldset{
    border-color: rgb(241, 112, 110)
}

.bottom {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(89, 104, 154);
    color: white;
    text-align: center;
  }

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&display=swap');

@media screen and (max-width: 720px) {
    
    #divSuperior{
        display: inline-block;
        font-size: 1em;
    }

    #divSuperior fieldset{
        font-size: 1em;
        margin: 0% 8%;
        justify-content: center;
    }

    .imgSuperior{
        width: 98%;
        height: auto;
        margin: 15px auto;
    }

    .imgPersonagem{
        width: 98%;
        height: auto;
        margin: 15px auto;
    }

    #debaixo {
        font-size: 0.9em;
    }
}

#formaAparencia{

}

#habitatComportamento{

}

#lutaDefesa{

}

#reproducao{

}

#relParasitaria{

}