body{
    background-color:rgb(167, 207, 230) ;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

#adiv{
    display: flex;
    color: rgb(36, 49, 94);
    background-color: rgb(247, 233, 160);
    opacity: 0.8s;
    padding: 1% 2%;
    margin: 5%;
}

img{
    border: solid 2px rgb(11, 19, 43);
    margin: 5% 5%;
    width: 100%;
    height: auto;
}

#titulo{
    color: rgb(36, 49, 94);
    text-shadow: 2px 2px 1px rgb(89, 104, 154);
    font-family: Bebas Neue, sans-serif;
    font-size: 2.5em;
    text-indent: 1em;
}

#buttons{
    margin: 1% 5%;
}

#debaixo{
    color: rgb(36, 49, 94);
    background-color: rgb(241, 112, 110);
    opacity: 0.8s;
    width: auto;
    display: block;
    font-size:75%;
    padding: 10px 20px;
    text-align: center;
}

fieldset{
    border-color: rgb(241, 112, 110)
}
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&display=swap');

@media screen and (max-width: 720px) {
    
    #adiv{
        display: inline-block;
    }

    img{
        width: 98%;
        height: auto;
        margin: 15px auto;
    }
}